.titulo{
    font: arial;
    font-size: 26px;
    text-align: center;
    color: white;
    background-color: blueviolet;
    width: auto;
    height: 100px;;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secundario{
    font: arial;
    font-size: 18px;
    text-align: left;
    color: orange;
}

.paragrafo{
    font: arial;
    font-size: 14px;
    text-align: justify;
    color: black;
    text-indent: 50px;
}